.maindiv{
    background:#f7f7f7;
    padding:2.0rem 0;
    padding-left: 115px;
    margin-bottom: 3.2rem; 

}
.innerdiv{
    margin: 0; 
}
.view{
    font-weight: normal;
    margin:0;
}
@media screen and (max-width:45rem)
{
    .view{
        margin-left:-35px;
    }
}
span{
    font-weight: bold;
}
.linkdiv{
    margin-top: 1.6rem;
}
@media screen and (max-width:45rem)
{
    .button-1{
        margin-left: -35px;
    }
}